/* You can add global styles to this file, and also import other style files */

html, body {
  position        : relative;
  height          : 100%;
  margin          : 0;
  scroll-behavior : smooth;
}

.full-page{
  min-height : 100%;
}
