<!--<div>form value: {{bForm.value | json}}</div>-->
<!--<div>booking value: {{booking | json}}</div>-->
<form [formGroup]="bForm">

  <label>
    <input type="checkbox" placeholder="isActive" formControlName="isActive">
  </label>
  <div formArrayName="passengers">
    <div *ngFor="let passenger of getPassengersForms().controls; let i=index"
         [formGroupName]="i">
      <input type="text" placeholder="Firstname" formControlName="givenName">
      <input type="text" placeholder="Lastname" formControlName="familyName">
      <input type="text" placeholder="Date of Birth" formControlName="dob">
      <input type="text" placeholder="Gender" formControlName="gender">
      <input type="text" placeholder="Address" formControlName="address">
      <button type="button" class="btn btn-dark m-5" (click)="deletePassengerForm(i)">Delete</button>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <button type="button" style="max-width: 400px" (click)="addPassengerForm()"
            class="btn btn-dark btn-lg btn-block m-5">Add Passenger
    </button>
    <button type="button" style="max-width: 400px" (click)="addFlightForm()"
            class="btn btn-dark btn-lg btn-block m-5">Add Flight
    </button>
  </div>
  <div class="d-flex justify-content-center">
    <button type="button" style="max-width: 400px"
            class="btn btn-dark btn-lg btn-block m-5">Submit
    </button>
  </div>
</form>



