<h2>List of all Users. Total Users: {{ totalUsers }}</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <td>Username</td>
            <td>Given Name</td>
            <td>Family Name</td>
            <td>Role</td>
            <td>Email</td>
            <td>Phone Number</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users; let i=index">
            <td>{{ user.username }}</td>
            <td>{{ user.givenName }}</td>
            <td>{{ user.familyName }}</td>
            <td>{{ user.role.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
        </tr>
    </tbody>
</table>
<button type="addUser" class="btn btn-primary btn-lg btn-block" data-toggle="modal"
    data-target=".bd-example-modal-lg">Add User</button>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class="m-3">
                <div class="form-group">
                    <label for="usernameExample">Username</label>
                    <input type="username" class="form-control" id="usernameExample" aria-describedby="usernameHelp"
                        placeholder="Enter Username">
                    <small id="usernameHelp" class="form-text text-muted">Enter a valid username</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">Enter a valid email address</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password">
                </div>
                <div class="form-group">
                    <label for="givenNameExample">Given Name</label>
                    <input type="givenName" class="form-control" id="givenNameExample" aria-describedby="givenNameHelp"
                        placeholder="Enter Given Name">
                    <small id="givenNameHelp" class="form-text text-muted">Enter a valid given name</small>
                </div>
                <div class="form-group">
                    <label for="familyNameExample">Family Name</label>
                    <input type="familyName" class="form-control" id="familyNameExample"
                        aria-describedby="familyNameHelp" placeholder="Enter Family Name">
                    <small id="familyNameHelp" class="form-text text-muted">Enter a valid family name</small>
                </div>
                <div class="form-group">
                    <label for="phoneNumberExample">Phone Number</label>
                    <input type="phoneNumber" class="form-control" id="phoneNumberExample"
                        aria-describedby="phoneNumberHelp" placeholder="Enter Phone Number">
                    <small id="phoneNumberHelp" class="form-text text-muted">Enter a valid phone number</small>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>