.user-profile {
  display       : flex;
  border-bottom : 1px solid #e0e4e7;
  min-height    : 20vh;
  padding       : 20px;
  color         : #333333;

  .pic {
    color           : #343A40;
    display         : flex;
    justify-content : flex-end;
    //align-items: center;
    min-width       : 200px;
  }
}

.user-tasks {
  display          : flex;
  position         : relative;
  background-color : #F7F7F8;
  height           : 100vh;
  color            : #333333;
  justify-content  : center;
  padding-top      : 100px;
}

.text-gray-dark {
  color : #445d6e;
}

.text-gray-light {
  color : #8f9ea8;
  font-size: 14px;
}
