<div class="d-flex flex-column justify-content-center " style="height: 100vh">
  <div class="alert alert-dismissible alert-danger text-center">
    <div class="d-flex justify-content-center align-items-center">
      <h1 class="mr-3 pr-3 align-top inline-block align-content-center"
          style="border-right: 1px solid #e6a288">
        {{error?.status}}
      </h1>
      <div class="inline-block align-middle">
        <h2 class="font-weight-normal lead" id="desc">{{error?.message}}</h2>
      </div>
    </div>
  </div>
</div>
