#userCard{
    justify-content: left;
}
#userBookings{
    justify-content: left;
}
#page{
    display: flex;
    justify-content: left;
}
#updateButton{
    border: black;
    color: black;
    background-color: lightgray;
    
}