<nav>
  <ul class="pagination">
    <li class="page-item" [ngClass]="(page === 1) ? 'disabled': ''">
      <i class="page-link fas fa-angle-double-left" (click)="goFirstPage()"></i>
    </li>
    <li class="page-item" [ngClass]="(page === 1) ? 'disabled': ''">
      <i class="fas fa-angle-left page-link" (click)="goPrevPage()"></i>
    </li>
    <li class="page-item disabled" *ngIf="activePages[0] != 1">
      <i class="page-link fas fa-ellipsis-h"></i>
    </li>
    <li *ngFor="let p of activePages;" class="page-item" [ngClass]="(p === page) ? 'active': ''">
      <a class="page-link" (click)="goToPage(p)">
        {{p}}
      </a>
    </li>
    <li class="page-item disabled" *ngIf="activePages.slice(-1)[0] !== collectionSize">
      <i class="page-link fas fa-ellipsis-h"></i>
    </li>
    <li class="page-item" [ngClass]="(page === collectionSize) ? 'disabled': ''">
      <i class="page-link fas fa-angle-right" (click)="goNextPage()"></i>
    </li>
    <li class="page-item" [ngClass]="(page === collectionSize) ? 'disabled': ''">
      <i class="page-link fas fa-angle-double-right" (click)="goLastPage()"></i>
    </li>
  </ul>
</nav>

<!--<li class="page-item active"><a class="page-link" href="#">2</a></li>-->
