.page-item {
  .page-link {
    background-color : #F7F7F8;
    color            : #333333;
    outline          : none;
    transition       : all 0.1s linear;
    cursor: pointer;
    &:hover {
      background-color : darken(#F7F7F8, 25%);
      border-color     : darken(#F7F7F8, 25%);
    }
  }
}

.active {
  .page-link {
    background-color : #e6a288;
    border           : 1px solid #e6a288;
  }
}

.disabled {
  .page-link {
    color: #919aa1;
  }
}
