.page-item {
  .page-link {
    background-color : #F7F7F8;
    font-size        : .75rem;
    padding          : 0.25rem 0.375rem;
    color            : #333333;
    outline          : none;
    transition       : all 0.1s linear;
    cursor           : pointer;

    &:hover {
      background-color : darken(#F7F7F8, 25%);
      border-color     : darken(#F7F7F8, 25%);
    }

    @media screen and(min-width : 600px) {
      font-size : 1rem;
      padding   : 0.5rem 0.75rem;
    }
  }
}

.active {
  .page-link {
    background-color : #e6a288;
    border           : 1px solid #e6a288;
  }
}

.disabled {
  .page-link {
    color : #919aa1;
  }
}
