<div class="container">
  <div *ngIf="!loading">
    <div class="d-flex justify-content-center">
      <button type="button" routerLink="/bookings/add"
              class="btn btn-dark btn-lg btn-block m-5 " style="max-width: 500px">ADD BOOKING
      </button>
    </div>
    <div class="list-group m-3" *ngFor="let booking of bookings">
      <a [routerLink]="['/bookings',booking.id]" style="text-decoration: none">
        <div class="list-group-item booking-item rounded">
          <div class="main">

            <div><span class="badge badge-primary badge-pill">{{booking.id}}</span>
              Origin to Destination
            </div>
            <hr class="my-4">
            <div class="d-flex alert alert-secondary">
              <div class="p-2">Booker id</div>
              <div class="p-2">Booker give_name</div>
              <div class="p-2">Booker family_name</div>
            </div>
            <div class="d-flex">
              <div class="card" style="max-width: 20rem;">
                <div class="p-2">Origin</div>
                <div class="card-body">
                  <div class="card-title d-flex">
                    <i class="fas fa-plane-departure mt-1 mr-2"></i>
                    <div>Departure time</div>
                  </div>
                  <p class="card-text text-secondary">Some quick example text to build on the card title and make up the
                    bulk of the card's content.</p>
                </div>
              </div>
              <div class="card ml-auto" style="max-width: 20rem;">
                <div class="p-2">Destination</div>
                <div class="card-body">
                  <div class="card-title d-flex">
                    <i class="fas fa-plane-arrival mt-1 mr-2"></i>
                    <div>Arrival time</div>
                  </div>
                  <p class="card-text text-secondary">Some quick example text to build on the card title and make up the
                    bulk of the card's content.</p>
                </div>
              </div>
            </div>
            <div class="p-2 text-center">total fight time</div>


          </div>
          <div class="reserved " [ngClass]="(booking.isActive) ? 'text-success' : 'text-danger'">
            <div>
              {{booking.isActive ? 'Active' : 'Inactive'}}
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <!--Acknowledgment-->
  <!--<div class="text-center" *ngIf="loading">-->
  <!--  <div class="spinner-grow" role="status">-->
  <!--    <span class="sr-only">Loading...</span>-->
  <!--  </div>-->
  <!--</div>-->
  <app-spinner [loading]="loading" *ngIf="loading"></app-spinner>
  <app-error-message *ngIf="error?.isError" [error]="error"></app-error-message>
</div>
