<main class="container">
  <div class="d-flex justify-content-center">
    <button class="btn btn-dark btn-lg btn-block m-5" type="button" data-toggle="modal"
      data-target="#flight-creation-modal">
      ADD FLIGHT
    </button>
  </div>
  <app-flight-creation-modal></app-flight-creation-modal>
  <app-flight-search-form (filterChanged)="onFilterChange($event)"></app-flight-search-form>
  <app-spinner *ngIf="flights.state==='pending'"></app-spinner>
  <ng-container *ngIf="flights.state==='done'">
    <app-flight-result-list [flights]="flights.data.results">
    </app-flight-result-list>
    <app-pagination [collectionSize]="flights.data.total" [maxSize]="getPageSize()" [(page)]="pageNum"
      (pageChange)="setPageNum($event)"></app-pagination>
  </ng-container>
</main>