.booking-item {
  display : flex;
  color   : #212529;
  padding : 0;

  .main {
    flex    : 1;
    padding : 0.75rem 1.25rem;
    color   : #333333;

    .booker {
      margin           : auto;
      background-color : white;
      border-radius    : 0.25rem;
      padding          : 0.25rem;
      word-break       : break-all;
      font-size        : 0.80rem;
      flex-direction   : column;
      @media screen and (min-width : 600px) {
        font-size      : 1rem;
        flex-direction : row;
      }
    }
  }
}


.list-group {
  .list-group-item {
    border           : none;
    background-color : #F7F7F8;
    box-shadow       : rgb(194, 194, 194) 0 1px 2px;
    transition       : box-shadow 0.2s linear;

    &:hover, &:active, &:focus {
      border     : 0.04rem solid rgba(0, 0, 0, 0.2);
      box-shadow : 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
    }
  }

}

.white-box {
  background-color : white;
  border-radius    : 0.25rem;
  padding          : 0.25rem;
}

.gray-box {
  background-color : #E6E6E6;
  border-radius    : 0.25rem;
  padding          : 0.45rem;
}

.title {
  font-weight : 500;
  color       : #333333;
}

.text-light-black {
  color : #989595;
}
