<p>booking works!</p>
<div>
  <div>
    <div class="alert alert-warning">
      {{booking.confirmationCode || 'confirmation code'}}
      <div class="badge badge-success">{{booking.isActive ? 'Active' : 'Inactive'}}</div>
    </div>
  </div>
  <div class="d-flex">
    <div >booking_id{{booking.id}}</div>
    <div class="ml-4">Origin - Destination</div>
  </div>
  <div>
    <div>Departure(time)</div>
    <div>Arrival(time)</div>
    <div>Total travel time</div>
  </div>
  <div>
    <div class="h4">Flight(s) details</div>
  </div>
  <div>
    <div class="h4">Passenger(s) details</div>
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">bookingId</th>
        <th scope="col">first name</th>
        <th scope="col">last name</th>
        <th scope="col">dob</th>
        <th scope="col">gender</th>
        <th scope="col">address</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let passenger of booking.passengers">
        <td>{{passenger.id}}</td>
        <td>{{passenger.bookingId}}</td>
        <td>{{passenger.givenName}}</td>
        <td class="m-2">{{passenger.familyName}}</td>
        <td class="m-2">{{passenger.dob}}</td>
        <td class="m-2">{{passenger.gender}}</td>
        <td class="m-2">{{passenger.address}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>




