<p>booking works!</p>
<div>
  <div>
    <div class="alert alert-warning">
      {{booking?.confirmationCode || 'confirmation code'}}
      <div class="badge badge-success">{{booking?.isActive ? 'Active' : 'Inactive'}}</div>
    </div>
  </div>
  <div class="d-flex">
    <div>booking_id{{booking?.id}}</div>
    <div class="ml-4">Origin - Destination</div>
  </div>
  <div>
    <div>Departure(time)</div>
    <div>Arrival(time)</div>
    <div>Total travel time</div>
  </div>
  <div>
    <div class="h4">Flight(s) details</div>
  </div>
  <div>
    <div class="h4">Passenger(s) details</div>
    <div class="list-group m-3" *ngFor="let passenger of booking?.passengers">
      <div class="list-group-item booking-item rounded">
        <div class="form-group">
          <label class="m-2">
            ID<input [(ngModel)]="passenger.id" name="id" class="form-control" [readOnly]="readonly">
          </label>
          <label class="m-2">
            bookingId<input [(ngModel)]="passenger.bookingId" name="bookingId" class="form-control"
                            [readOnly]="readonly">
          </label>
          <label class="m-2">
            Firstname<input [(ngModel)]="passenger.givenName" name="givenName" class="form-control"
                            [readOnly]="readonly">
          </label>
          <label class="m-2">
            Lastname<input [(ngModel)]="passenger.familyName" name="familyName" class="form-control"
                           [readOnly]="readonly">
          </label>
          <label class="m-2">
            DOB<input [(ngModel)]="passenger.dob" name="dob" class="form-control" [readOnly]="readonly">
          </label>
          <label class="m-2">
            Gender<input [(ngModel)]="passenger.gender" name="gender" class="form-control" [readOnly]="readonly">
          </label>
          <label class="m-2">
            Address<input [(ngModel)]="passenger.address" name="address" class="form-control" [readOnly]="readonly">
          </label>
        </div>
        <hr class="my-4">
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <button type="button" (click)="toggleEditForm()" [hidden]="!readonly"
            class="btn btn-dark btn-lg btn-block m-5 " style="max-width: 400px">Edit
    </button>
    <button type="button" (click)="toggleEditForm()" [hidden]="readonly"
            class="btn btn-success btn-lg btn-block m-5">Save
    </button>
    <button type="button" (click)="toggleEditForm()" [hidden]="readonly"
            class="btn btn-danger btn-lg btn-block m-5">Cancel
    </button>
  </div>
</div>




